{% extends "main.html" %}
{% include "header.html" %}
{% block content %}
<div class="container-fluid text-center">
	<h1 class="text-center">Add New Item</h1>
	<form action="#" method="POST" enctype="multipart/form-data" class="form-inline col-md-8 col-md-offset-3 text-center m-auto border border-primary">
		<label for="name" class="col-md-3 mt-2">Name</label>
		<input type="text" name="name" placeholder="Item Name" id="name" class="form-control col-md-9 mt-2">
		<label for="description" class="col-md-3 mt-2">Description</label>
		<textarea class="form-control col-md-9 mt-2" rows="5" id="description" name="description"></textarea>
		<label for="picture" class="col-md-3 mt-2">Picture</label>
		<input type="file" name="picture" accept="image/*" id="picture" class="form-control mt-2 col-md-9">
		<label for="category" class="mt-2 col-md-3">Category</label>
		<select name="category" id="category" class="form-control mt-2 col-md-9">
			{% for cat in categories %}
				<option value="{{cat.name}}">{{cat.name}}</option>
			{% endfor %}
		</select>
		<div class="col-md-5 mt-2"></div>
		<input type="submit" value="Add" class="btn btn-primary mt-2">
	</form>
</div>
{% endblock %}